@{
    ViewData["Title"] = "Home Page";
}

<div class="align-content-center border-bottom">
    <img src="~/StrayToStayLogo.png" width="95%"/>
    </div>
<div class="d-flex flex-row bd-highlight mb-3">
    <div>
        <h1 class="display-4">Our Goal</h1>
        <p>Our goal is to find a place for all of the homeless companion animals wandering our cities, and in so doing make the world that much better for them and us.</p> 
    </div>
    <div>
        <h1 class="display-4">Our Goal</h1>
        <p>Our goal is to find a place for all of the homeless companion animals wandering our cities, and in so doing make the world that much better for them and us.</p> 
    </div>
    <div>
        <h1 class="display-4">Our Goal</h1>
        <p>Our goal is to find a place for all of the homeless companion animals wandering our cities, and in so doing make the world that much better for them and us.</p> 
    </div>
</div>
