@{
    ViewData["Title"] = "Home Page";
}

<div class="align-content-center border-bottom">
    <img src="~/StrayToStayLogo.png" width="95%"/>
    </div>
<div class="row">
    <div class="col-md-4 col-12 text-center p-2">
        <img src="~/SplitsVille.jpg" style="height:100px;width:auto"/>
        <h1 class="display-4">Goal</h1>
        <p>Our goal is to find a place for all of the homeless companion animals wandering our cities, and in so doing make the world that much better for them and us.</p> 
    </div>
    <div class="col-md-4 col-12 text-center p-2">
        <img src="~/Heart.jpg" style="height:100px;width:auto"/>
        <h1 class="display-4">Philosophy</h1>
        <p>We believe if we make it easier for people to find homes for the many homeless pets in our country, we can create better outcomes for them. This will allow people that want to open their homes to foster a companion animal to get that chance and to take in someone that needs them. </p> 
    </div>
    <div class="col-md-4 col-12 text-center p-2">
        <img src="~/Cat.jpg" style="height:100px;width:auto"/> 
        <h1 class="display-4 text-center">What you can do</h1>
        <p>You can sign up and create a new listing or browse the listings that others have already posted to find a creature in need</p> 
        <button type="button" class="btn btn-success btn" >
            <a class="text-light" asp-controller="Post" asp-action="Index" style="text-decoration:none">Find Strays</a>
        </button>
    </div>
</div>
